// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/dts-v1/;

#include "sun8i-t113s.dtsi"
/ {
	aliases {
		serial1 = &uart1;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	/* board wide 5V supply from the SY8303 DC/DC regulator */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* SY8088 DC/DC regulator on the board */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* SY8088 DC/DC regulator on the board, also supplying VDD-SYS */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

};

&dcxo {
	clock-frequency = <24000000>;
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&emac {
	pinctrl-0 = <&rmii_pe_pins>;
	pinctrl-names = "default";
	phy-handle = <&ext_rmii_phy>;
	phy-mode = "rmii";
	phy-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&mdio {
	ext_rmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	vmmc-supply = <&reg_3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;/* PF6 */
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pe_pins>;
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&reg_usb0_vbus {
	gpio = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* PG12 */
	status = "okay";
};

&usbphy {
	usb0_vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

/ {
	model = "Infomatika DISPKZN3";
	compatible = "infomat,dispkzn3", "allwinner,sun8i-t113s";
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

